<div class="home__container">
    <app-card 
        gameCover="assets/bt-1.jpg"
        gameLabel="DIGITAL"
        gameType="Digital PS4"
        gamePrice="R$ 190,00"
    ></app-card>
    <app-card 
        gameCover="assets/bt-4.jpg"
        gameLabel="EXCLUSIVE"
        gameType="XPTO | PS4"
        gamePrice="R$ 399,90"
    ></app-card>
    <app-card 
        gameCover="assets/ac-cover.jpg"
        gameLabel="BEST OF YEAR"
        gameType="Digital | PS5"
        gamePrice="R$ 370,00"
    ></app-card>
    <app-card 
        gameCover="assets/bt-hardline.jpg"
        gameLabel="NEW"
        gameType="DiGITAL | PS3 PS4 PS4"
        gamePrice="R$ 369,90"
    ></app-card>
</div>